<md-content>

	<md-toolbar>
      <h2 layout="row" layout-align="start center" class="md-toolbar-tools">
        
	<span flex="20">
	  <md-select ng-model="profile.inheritedTailoring" ng-change="profile.inheritMeasure()" style="margin-top: 1em;">
	     <md-select-label>{{'Apply: '+(profile.inheritedTailoring?profile.inheritedTailoring:'nothing')}}</md-select-label>
	    <md-option ng-value="opt.profile.name" ng-repeat="opt in profile.inherited()">{{ (opt.profile.name.length>0)?opt.profile.name:'nothing' }}</md-option>
	  </md-select>
	</span>

	<span flex="20" style="text-align:left;">
		<md-radio-group layout="row" layout-align="space-between center" ng-model="profile.overlay.baseline" ng-change="profile.setBase()">
		  <md-tooltip>
          Base Line Impact
        </md-tooltip>
	      <md-radio-button value="LOW">L</md-radio-button>
	      <md-radio-button value="MODERATE">M</md-radio-button>
	      <md-radio-button value="HIGH">H</md-radio-button>
	    </md-radio-group></span>

		<span flex="20" style="text-align:center;">SP 800-53 Wizard</span>
		<span flex="20">
		<md-input-container class="md-raised md-accent" style="text-align:right;"> 
			<label>Overlay Title</label>
			<input ng-model="profile.overlay.name">
		</md-input-container> 
		</span>
        <span flex="20" style="text-align:right;">
          <a class="glyphicon glyphicon-cloud-download" target="_self" ng-click="profile.linkXML()"> <md-tooltip>Download Overlay</md-tooltip></a>
          <div class="glyphicon glyphicon-cloud-upload"  ng-file-select ng-model="profile.file"  ng-file-change="profile.fileSelect()"> <md-tooltip>Upload Overlay</md-tooltip></div>
        </span>

      </h2>
    </md-toolbar>


</md-content>