<md-toolbar layout="row" class="md-primary">
  <h2 flex = "25" class="md-toolbar-tools">
    <span>Catalog {{'{ '+(catalog.dispData.length>0?catalog.dispData.length:catalog.srcData.length)+' }' }}</span>
  </h2>
  <md-select flex = "25" multiple ng-model="catalog.familyFilter"] ng-change="catalog.updateFilter()" style="margin-top: 1em;">
     <md-select-label>{{ catalog.familyFilter.length ? catalog.familyFilter.length+' Families' : ' All Families' }}</md-select-label>
    <md-option ng-value="opt" ng-repeat="opt in catalog.families">{{ opt.toUpperCase() }}</md-option>
  </md-select>

  <md-select flex = "25" multiple ng-model="catalog.measureFilter" ng-change="catalog.updateFilter()" ng-show="catalog.familyFilter.length > 0" style="margin-top: 1em;"> 
     <md-select-label>{{ catalog.measureFilter.length ? catalog.measureFilter.length+' Measures' : ' All Measures' }}</md-select-label>
    <md-option ng-value="opt.uid" ng-repeat="opt in catalog.measuresList()">{{ opt.uid + ': ' + opt.config.title }}</md-option>
  </md-select>


</md-toolbar>
 

<div style="position:absolute; top:65px; bottom:0px; width:100%;">

  <div id="grid1" ui-grid="catalog.gridOptions" class="grid" external-scopes="form" ui-grid-auto-resize ui-grid-selection></div>

</div>
