<div ng-switch on="grid.appScope.lookup[row.entity.uid].state">
	<div ng-switch-when="base">
		<md-button md-no-ink class="md-raised md-primary " aria-label={{$index+"label"} style="width: 100%">
			
			
			<div class="glyphicon glyphicon-record">
				<md-tooltip>Baseline</md-tooltip>
			</div>
			<div ng-hide="grid.appScope.lookup[row.entity.uid].comments.text || grid.appScope.lookup[row.entity.uid].comments.rationale" class="glyphicon glyphicon-warning-sign">
				<md-tooltip>Warning</md-tooltip>
			</div>
		</md-button>
	</div>
	<div  ng-switch-when="not">
		<md-button md-no-ink class="md-raised md-background" aria-label={{$index+"label"} style="width: 100%">
			
			<div class="glyphicon glyphicon-ban-circle">
				<md-tooltip>Not Included</md-tooltip>
			</div>
			
		</md-button>
	</div>
	<div ng-switch-when="scope">
		<md-button md-no-ink class="md-raised md-warn" aria-label={{$index+"label"} style="width: 100%">
			
			<div class="glyphicon glyphicon-remove-circle">
				<md-tooltip>Scoped</md-tooltip>
			</div>
			<div ng-hide="grid.appScope.lookup[row.entity.uid].comments.text || grid.appScope.lookup[row.entity.uid].comments.rationale" class="glyphicon glyphicon-warning-sign">
				<md-tooltip>Warning</md-tooltip>
			</div>
		</md-button>
	</div>
	<div ng-switch-when="add">
		<md-button md-no-ink class="md-raised md-accent " aria-label={{$index+"label"} style="width: 100%">
			
			<div class="glyphicon glyphicon-ok-circle">
				<md-tooltip>Added</md-tooltip>
			</div>
			<div ng-hide="grid.appScope.lookup[row.entity.uid].comments.text || grid.appScope.lookup[row.entity.uid].comments.rationale" class="glyphicon glyphicon-warning-sign">
				<md-tooltip>Warning</md-tooltip>
			</div>
		</md-button>
	</div>
	<div ng-switch-when="comp">
		<md-button md-no-ink class="md-raised md-accent " aria-label={{$index+"label"} style="width: 100%">
			
			<div class="glyphicon glyphicon-adjust">
				<md-tooltip>Compensating</md-tooltip>
			</div>
			<div ng-hide="grid.appScope.lookup[row.entity.uid].comments.text || grid.appScope.lookup[row.entity.uid].comments.rationale" class="glyphicon glyphicon-warning-sign">
				<md-tooltip>Warning</md-tooltip>
			</div>
		</md-button>
	</div>
</div>


<!-- The following html uses icons instead of buttons. This is faster because it doesn't create watches 
     in the digest cycle, but it is not as pretty ... -->

<!-- 
<div ng-switch on="grid.appScope.lookup[row.entity.number[0]].state">
	<div ng-switch-when="base">
		<md-icon md-svg-src="lib_icon/ic_adjust_48px.svg" class="md-raised center md-primary ">
			
		</md-icon>
	</div>
	<div  ng-switch-when="not">
		<md-icon md-svg-src="lib_icon/ic_block_48px.svg" class="md-raised center md-background">
		
		</md-icon>
	</div>
	<div ng-switch-when="scope">
		<md-icon md-svg-src="lib_icon/ic_remove_circle_outline_48px.svg" class="md-raised center md-warn">
			
		</md-icon>
	</div>
	<div ng-switch-when="add">
		<md-icon md-svg-src="lib_icon/ic_add_circle_outline_48px.svg" class="md-raised center md-accent ">
		
		</md-icon>
	</div>
	<div ng-switch-when="comp">
		<md-icon md-svg-src="lib_icon/ic_tonality_48px.svg" class="md-raised center md-accent ">
	
		</md-icon>
	</div>
</div>
 --> 