<div ng-switch on="grid.appScope.lookup[row.entity.number[0]].status">
	<div ng-switch-when="base">
		<md-button class="md-raised md-primary " aria-label={{$index+"label"} style="width: 100%">
			<md-tooltip>Baseline</md-tooltip>
			<div class="glyphicon glyphicon-record"></div>
		</md-button>
	</div>
	<div  ng-switch-when="not">
		<md-button class="md-raised md-background" aria-label={{$index+"label"} style="width: 100%">
			<md-tooltip>Not Included</md-tooltip>
			<div class="glyphicon glyphicon-ban-circle"></div>
		</md-button>
	</div>
	<div ng-switch-when="scope">
		<md-button class="md-raised md-warn" aria-label={{$index+"label"} style="width: 100%">
			<md-tooltip>Scoped</md-tooltip>
			<div class="glyphicon glyphicon-remove-circle"></div>
		</md-button>
	</div>
	<div ng-switch-when="add">
		<md-button class="md-raised md-accent " aria-label={{$index+"label"} style="width: 100%">
			<md-tooltip>Added</md-tooltip>
			<div class="glyphicon glyphicon-ok-circle"></div>
		</md-button>
	</div>
	<div ng-switch-when="comp">
		<md-button class="md-raised md-accent " aria-label={{$index+"label"} style="width: 100%">
			<md-tooltip>Compensating</md-tooltip>
			<div class="glyphicon glyphicon-adjust"></div>
		</md-button>
	</div>
</div>
