<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<plugin id="gov.nist.scap.datastream">
    <require plugin="gov.nist.scap.doctypes"/>
    <feature extension="dita.conductor.transtype.check" value="sds"/>
    <transtype name="sds" desc="Convert SCAP Data Stream Collection DITA map into SP 800-126 format"/>
    <feature extension="dita.conductor.target.relative" file="build.xml"/>
</plugin>
