<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<plugin id="gov.nist.scap.datastream">
    <require plugin="gov.nist.scap.doctypes"/>
    <transtype name="sds" desc="SCAP Data Stream Collection">
        <param name="sds.scapval"
            desc="URI of NIST SCAP Content Validation Tool jar file"
            type="file"/>
        <param name="sds.componentkey"
            desc="Validate individual XCCDF, OVAL, and OCIL file without building source data stream collection"
            type="string"/>
    </transtype>
    <feature extension="dita.conductor.transtype.check" value="sds"/>
    <feature extension="ant.import" file="sdsbuild.xml"/>
    <feature extension="dita.specialization.catalog.relative" file="catalog-dita.xml"/>
</plugin>