/*
=======================================
SCAP enumeration elements. [scapEnum-d]
=======================================
*/

*[class~='scapEnum-d/cveID'],
*[class~='scapEnum-d/cpeID'],
*[class~='scapEnum-d/cceID'] {
  font-family:monospace;
}

*[class~="scapEnum-d/cveID"]:before {
    content: 'CVE-';
}
*[class~="scapEnum-d/cpeID"]:before {
    content: 'cpe:';
}

*[class~="scapEnum-d/cceID"]:before {
    content: 'CCE-';
}
