<!--/*--><css><![CDATA[/**/
/* Make CSS file a well-formed XML document so that it can be used with XSLTForms */

@namespace xf url("http://www.w3.org/2002/xforms");

/* instructions for styling the horizontal tabs at the top of the form */
#horizontal-tab-menu {
padding-bottom: 2px;
font-size: x-large;
}
#horizontal-tab-menu xf|trigger {
border-left: gray solid 1px;
border-top: gray solid 1px;
border-right: gray solid 1px;
border-bottom: 0px; /* so the tab blends into the region under the tab */
font-weight: bold;
font-size: .9em;
/* spacing between the tabs */
margin-right: 9px;
padding: 3px;
/* round corners at the top of the tab - does not work on older */
/* versions of IE */
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
 
/* properties common to all the swapped views */
#div-core, #div-tailor, #div-xref, #div-profile {
padding: 5px;
border-left: solid gray 1px;
border-right: solid gray 1px;
border-bottom: solid gray 1px;
}
#tab-core, #div-core {
background-color: Azure;
}
#tab-tailor, #div-tailor {
background-color: LightYellow;
}
#tab-xref, #div-xref {
background-color: OldLace;
}
#tab-profile, #div-profile {
background-color: MistyRose;
}

body {font-family: Arial;}

h1 img {
padding-left: 5px;
padding-right: 10px;}

.Heading {
font-weight: bold;
text-align: center;
background-color: MistyRose;}

.TabText {
color: DimGray;
}

.ID {
background-color: Blue;
color: White;
font-weight: bold;
}
.PR {
background-color: Purple;
color: White;
font-weight: bold;
}
.DE {
background-color: Yellow;
color: Black;
font-weight: bold;
}
.RS {
background-color: Red;
color: White;
font-weight: bold;
}
.RC {
background-color: Green;
color: White;
font-weight: bold;
}

.ControlButton {
width: 6em;
}

.SWTitle {
color: DimGray;
font-size: larger;}

.SWSubTitle {
font-size: smaller;
color: DimGray;
margin-left: 3em;}

.ControlTitle {font-size: large;}

.CETitle {
font-weight: normal;
font-style: italic;}

.Control {font-weight: bold;}

.Row {vertical-align: top;}
.Cell {padding: 5px;}

/* For Impact and Supp. Guidance dropdowns. Vertically aligned in Chrome, 
but not Firefox */
.DropDownCell {padding: 7px;}

.WideCell {padding: 20px;}
.Functions {width: 12em;}

.XMLData textarea {
height: 20em; 
width: 45em;}

.Guidance textarea { 
height: 5em; 
width: 30em;}

div.footer {
font-size: small;
}

table-container {
display: table-row;
}
.table-cell {
display: table-cell;
vertical-align: top;
}

/*]]>*/<!--/*--></css><!--*/-->